// vi: ft=c shiftwidth=8 tabstop=8 softtabstop=8
/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define ENGRAM 1
#define NAV 2
#define NUM 3
#define FPS 4
#define MOBA 5
#define PLOVER 6
#define SETTINGS 7

&lt {
        quick-tap-ms = <200>;
};

&mt {
        quick-tap-ms = <200>;
};

/ {
        behaviors {
                lm: left_hand_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "LEFT_POSITIONAL_HOLD_TAP";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <150>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
                };

                rm: right_hand_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "RIGHT_POSITIONAL_HOLD_TAP";
                        #binding-cells = <2>;
                        flavor = "tap-preferred";
                        tapping-term-ms = <150>;
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
                };

                csemi: colon_semi {
                        compatible = "zmk,behavior-mod-morph";
                        label = "COLON_SEMI";
                        #binding-cells = <0>;
                        bindings = <&kp COLON>, <&kp SEMICOLON>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                dsquot: double_single_quote {
                        compatible = "zmk,behavior-mod-morph";
                        label = "DOUBLE_SINGLE_QUOTE";
                        #binding-cells = <0>;
                        bindings = <&kp DOUBLE_QUOTES>, <&kp SINGLE_QUOTE>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                boslh: both_slash {
                        compatible = "zmk,behavior-mod-morph";
                        label = "BOTH_SLASH";
                        #binding-cells = <0>;
                        bindings = <&kp SLASH>, <&kp BACKSLASH>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        label = "QWERTY";
                        bindings = <
&kp LBKT &kp Q      &kp W      &kp E      &kp R      &kp T    &kp Y       &kp U      &kp I      &kp O      &kp P         &kp RBKT
&kp BSLH &lm LSFT A &lm LCTL S &lm LALT D &lm LGUI F &kp G    &kp H       &rm RGUI J &rm RALT K &rm RCTL L &rm RSFT SEMI &kp SQT
&kp LPAR &kp Z      &kp X      &kp C      &kp V      &kp B    &kp N       &kp M      &kp CMMA   &kp DOT    &kp FSLH      &kp RPAR
                     &lt SETTINGS ESC &lt NUM BSPC &kp DEL    &lt NAV RET &kp SPC    &lt NUM TAB
                        >;
                };

                engram {
                        label = "ENGRAM";
                        bindings = <
&kp MINUS  &kp B      &kp Y      &kp O            &kp U      &kp LBKT     &kp RBKT    &kp L      &kp D      &kp W      &kp V      &kp Z
&csemi     &lm LSFT C &lm LCTL I &lm LALT E       &lm LGUI A &kp COMMA    &kp DOT     &rm RGUI H &rm RALT T &rm RCTL S &rm RSFT N &kp Q
&dsquot    &kp G      &kp X      &kp J            &kp K      &kp LPAR     &kp RPAR    &kp R      &kp M      &kp F      &kp P      &boslh
                                &lt SETTINGS ESC &kp BSPC   &kp DEL      &lt NAV RET &kp SPC      &lt NUM TAB
                        >;
                };

                // TODO: Add mouse keys here
                nav_layer {
                        label = "NAV";
                        bindings = <
&trans &trans &kp HOME &kp PG_UP &kp PG_DN &kp END    &trans   &trans   &trans &trans    &trans &trans
&trans &trans &trans   &trans    &trans    &trans     &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
&trans &trans &trans   &trans    &trans    &trans     &trans   &trans   &trans &trans    &trans &trans
                       &trans    &trans    &trans     &trans   &trans   &trans
                        >;
                };

                num_layer {
                        label = "NUM";
                        bindings = <
&kp LBKT &kp F1 &kp F2  &kp F3  &kp F4  &kp TILDE    &kp FSLH   &kp N7 &kp N8 &kp N9 &kp MINUS &kp RBKT
&trans   &kp F5 &kp F6  &kp F7  &kp F8  &kp GRAVE    &kp ASTRK  &kp N4 &kp N5 &kp N6 &kp PLUS  &kp K_APP
&trans   &kp F9 &kp F10 &kp F11 &kp F12 &kp HASH     &kp PRCNT  &kp N1 &kp N2 &kp N3 &kp EQUAL &trans
                        &trans  &trans  &trans       &to NUM    &kp N0 &to QWERTY
                        >;
                };

                // TODO: Add rpcs3 layer
                fps_layer {
                        label = "FPS";
                        bindings = <
&kp ESC &kp TAB   &kp Q &kp W &kp E &kp R    &none &none &none &none &none &to QWERTY
&kp N1  &kp CAPS  &kp A &kp S &kp D &kp F    &none &none &none &none &none &none
&kp N2  &kp LSHFT &kp Z &kp X &kp C &kp V    &none &none &none &none &none &none
                &kp LALT &kp SPC &kp LCTL    &none &none &none
                        >;
                };

                moba_layer {
                        label = "MOBA";
                        bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5    &none &none &none &none &none &to QWERTY
&kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T     &none &none &none &none &none &none
&kp LSHFT &kp A  &kp S  &kp D  &kp F  &kp G     &none &none &none &none &none &none
                     &kp LCTL &kp SPC &kp B     &none &none &none
                        >;
                };

                // TODO: Make plover toggle macro to send toggle chord on switch
                plover_layer {
                        label = "PLOVER";
                        bindings = <
&none       &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I  &kp O  &kp P    &kp LBKT
&tog PLOVER &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT
&kp N1      &kp N1 &kp N1 &kp N1 &kp N1 &kp N1   &kp N1 &kp N1 &kp N1 &kp N1 &kp N1   &kp N1
                          &none  &kp C  &kp V    &kp N  &kp M  &none
                        >;
                };

                settings_layer {
                        label = "SETTINGS";
                        bindings = <
&none &to QWERTY &none &to ENGRAM &none      &none       &none &none        &none        &none        &none &none
&none &none      &none &to ENGRAM &to FPS    &to MOBA    &none &bt BT_SEL 3 &bt BT_SEL 4 &none        &none &to QWERTY
&none &none      &none &none      &to PLOVER &none       &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &none
                       &none      &none      &bt BT_CLR  &none &none        &none
                        >;
                };
        };
};
